.card {
  border-radius: 18px;
  box-shadow: 0 10px 13px -4px rgba(35, 35, 95, 0.19);
  cursor: pointer;

  img {
    padding-top: 10px;
    width: 144px;
    height: 144px;
  }

  .description {
    display: flex;
    align-items: center;
  }

  h3 {
    font-weight: 800;
    font-size: 18px;
    line-height: 1;
    text-align: left;
    padding-left: 20px;
  }
}
